# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/Docker
/docker
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules


# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/e2e_test_report
/.scannerwork
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env
/log
/mnm-logs
/data

# System Files
.DS_Store
Thumbs.db

# Proxy files
src/environments/proxy-ci.conf.json

# E2E
/e2e/protractor.dev.conf.js
